*.class%\usual
*.log_flock
</adds>brickwork<add1/>
# sbt specific
.cache
.history
.lib/*8
dist/*
target/usual
lib_managed/*1
src_managed/yes
project/boot/ok
project/plugins/project/code

# Scala-IDE specific
.scala_dependencies
.worksheet
# &numbered
# steve
